.gitignore# React
build-icon-react/node_modules/
build-icon-react/dist/

# Backend
build-icon-backend/node_modules/

# Backup
BuildIcon_Backup/
BuildIcon_Backup (1)/

# Environment
.env

# Logs
*.log

# Database backups
BuildIcon_Backup/
BuildIcon_Backup (1)/